#LILLE
{
     text-align: center;
}

#blason
{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    height: 133px;

}
#menu
{
    background-color: #778899;
    float: left;
    width: 200px;
    min-height: 100vh;
    border: 1px solid black;
}

main
{
 position: absolute;
 margin-left: 220px;
}
